[submodule "third_party/ghdl"]
	path = third_party/ghdl
	url = https://github.com/ghdl/ghdl.git
[submodule "third_party/ghdl-yosys-plugin"]
	path = third_party/ghdl-yosys-plugin
	url = https://github.com/ghdl/ghdl-yosys-plugin.git
[submodule "third_party/litex"]
	path = third_party/litex
	url = https://github.com/antmicro/litex.git
	branch = embench-tester-2022
[submodule "third_party/Embench"]
	path = third_party/Embench
	url = https://github.com/antmicro/embench-iot.git
	branch = embench-tester-2022
[submodule "third_party/make-env"]
	path = third_party/make-env
	url = https://github.com/SymbiFlow/make-env.git
[submodule "third_party/openc906"]
	path = third_party/openc906
	url = https://github.com/Icenowy/openc906.git
    	branch = fpga-optimization
[submodule "third_party/yosys"]
	path = third_party/yosys
	url = https://github.com/YosysHQ/yosys.git
[submodule "third_party/verilator"]
	path = third_party/verilator
	url = https://github.com/verilator/verilator.git
